*.pyc
.idea
pnpm-lock.yaml
frontend/node_modules
frontend/.vscode
.eslintcache
.stylelintcache
frontend/dist
.agent
.agents
.augment
.claude
.cline
.codebuddy
.commandcode
.continue
.crush
.cursor
.factory
.goose
.iflow
.junie
.kilocode
.qoder
.pi
.pochi
.qwen
.roo
.kiro
.kode
.mcpjam
.mux
.neovate
.openhands
.trae/documents
.adal
.trae
.vibe
.windsurf
.zencoder
fastapi/dv_admin_fastapi.egg-info
find-skills
.env
dv_admin.db
fastapi/uploads/avatar
fastapi/uploads/files
dv_admin.db-shm
dv_admin.db-wal
