[mail]
email_host_password =
mail_enable = 1
email_use_ssl = False
email_use_tls = False
email_port =
email_host_user =
email_host =

[base]
log = debug
url = http://127.0.0.1
pic_url = http://oadevpic.soydai.cn
ip = 0.0.0.0
key = d3hihlyngz1bptpi
port = 9999
develop = False
version = 2.0

[db]
engine = mysql
database = huli_oa
host = 127.0.0.1
user = root
password = 123456
port = 3306

[connect]
nav_sort_by = ip

[ldap]
ldap_server = ldap://127.0.0.1
ldap_bind_dn = cn=search,ou=search,dc=souyidai,dc=com
ldap_bind_password =
ldap_search_dn = dc=souyidai,dc=com

[redis]
redis_server = 127.0.0.1
redis_port = 6379
redis_password = 123456