[base]
log = debug
url = http://127.0.0.1
ip = 0.0.0.0
key = d3hihlyngz1bptpi
port = 8000
develop = True
version = 1.1

[ldap]
enable = True
ldap_server =
ldap_bind_dn = cn=,cn=,dc=,dc=
ldap_bind_password =
ldap_search_dn = ou=,dc=,dc=

[db]
engine = mysql
host =
port = 3306
user =
password =
database =

[mail]
email_host_password =
mail_enable = 1
email_use_ssl = False
email_use_tls = False
email_port = 25
email_host_user =
email_host =

[alert]
alert_url =