{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
{% endblock %}

{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>2018俄罗斯世界杯（6月14日 - 7月15日）</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal" action="">
                            {% if emg %}
                                <div class="alert alert-warning text-center">{{ emg }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success">{{ msg }}</div>
                            {% endif %}
                            <table class="table table-striped table-bordered table-hover" >
                                <div class="col-sm-3 text-center">
                                    <div class="col-sm-11" style="margin-top: 100px"></div>
                                    <div class="col-sm-11">
                                        <img src="{{ match_obj.home_team.flag_address }}" style="max-width: 100%; max-height: 100%">
                                    </div>
                                    <div class="col-sm-11">
                                        <h1><font style="margin-top: 15px" face="verdana">{{ match_obj.home_team.name }}</font></h1>
                                        {% if match_obj.concede_goal < 0 %}
                                        <h1>(让球:主队  {{ match_obj.concede_goal }}球)</h1>
                                        {% else %}
                                        <h1>(让球:主队 +  {{ match_obj.concede_goal }}球)</h1>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <h1><b>{{ match_obj.time|date:"Y-m-d H:i:s" }}</b></h1>
                                    <img src="/static/image/gift/timg.gif" style="max-width: 100%; max-height: 100%">
                                </div>
                                <div class="col-sm-3 text-center">
                                    <div class="col-sm-12" style="margin-top: 100px"></div>
                                    <div class="col-sm-12">
                                        <img src="{{ match_obj.visit_team.flag_address }}" style="max-width: 100%; max-height: 100%">
                                    </div>
                                    <div class="col-sm-12">
                                        <h1><font style="margin-top: 20px" face="verdana">{{ match_obj.visit_team.name }}</font></h1>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-11">
                                        <br/>
                                        <h3 style="color: #2d6987">投注说明：</h3>
                                        <p>1.比赛胜平负按120分钟结果统计(包含补时和加时赛).</p>
                                        <p>2.投注金额最少为1ETH.</p>
                                        <p>3.投注采用区块链记账，因此投注过程中系统可能收取记账费用，最大不超过1ETH.</p>
                                        <p>4.记账过程需要时间，投注后确认需要若干分钟记账，可在“我的投注”查询实际投注状态。未记账成功的投注，会在10分钟内取消，投注金额返还.</p>
                                    </div>
                                </div>
                                <div class="col-sm-12 hr-line-dashed"></div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <input name="amount" id="amount" placeholder="请输入投注金额（最大投注金额：{{ max_bid_num }}）" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                {% for i in bet_obj %}
                                    <div class="col-sm-2 text-center" style="margin-top: 30px">
                                        <a class="btn btn-sm btn-primary bet_post" onclick="get_bet_id({{ i.id }})">
                                            {{ i.result }} <br/>
                                            <p> 赔率 {{ match_obj|get_match_rate:i }} </p>
                                        </a>
                                    </div>
                                {% endfor %}
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block self_footer_js %}

<script>

    function get_bet_id(bet_id) {
        var amount = $('#amount').val();
        $.post("{% url 'match_bet' %}",
            {
                'match_id': {{ match_obj.id }},
                'max_num': {{ max_bid_num }},
                'amount': amount,
                'bet_id': bet_id
            },
            function (data) {
                alert(data);
                window.location.reload()
            });
    }

</script>

{% endblock %}
