{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5> 消费列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <form id="tran_form">
                        <div class="">
                            <div class="col-sm-8" style="padding-left: 0px">
                                <label>
                                    <select name="card_id" class="form-control m-b input-sm chosen-select" onchange="change_info()">
                                        <option value="">卡片</option>
                                        {% for card in card_list %}
                                            {% ifequal card.id|int2str card_id %}
                                                <option value="{{ card.id }}" selected> {{ card.name }}</option>
                                            {% else %}
                                                <option value="{{ card.id }}"> {{ card.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>
                                    <select name="activity_id" class="form-control m-b input-sm chosen-select" onchange="change_info()">
                                        <option value="">活动</option>
                                        {% for act in act_list %}
                                            {% ifequal act.id|int2str activity_id %}
                                                <option value="{{ act.id }}" selected> {{ act.name }}</option>
                                            {% else %}
                                                <option value="{{ act.id }}"> {{ act.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-3" style="padding-right: 0">
                                <form id="search_form" method="get" action="" class="pull-right mail-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="search_input" name="search" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                                -搜索-
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" id="select_all" name="select_all">
                                </th>
                                <th class="text-center">消费日期</th>
                                <th class="text-center">卡片</th>
                                <th class="text-center">刷卡金额</th>
                                <th class="text-center">归属活动</th>
                                <th class="text-center">mcc码</th>
                                <th class="text-center">收单</th>
                                <th class="text-center">手续费</th>
                                <th class="text-center">积分</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for record in contacts %}
                            <tr class="gradeX">
                                <td class="text-center">
                                    <input class="shiftCheckbox" type="checkbox"  name="selected" value="{{ record.id }}">
                                </td>
                                <td class="text-center"> {{ record|time_diff }} </td>
                                <td class="text-center"> {{ record.card.name }} </td>
                                <td class="text-center"> {{ record.amount }} </td>
                                <td class="text-center"> {{ record|activity_to_list|safe }} </td>
                                {% if record.mcc %}
                                    <td class="text-center"> {{ record.mcc.code }}({{ record.mcc.name }}) </td>
                                {% else %}
                                    <td class="text-center"></td>
                                {% endif %}
                                <td class="text-center"> {% if record.rate.rate %} {{ record.rate.rate }}% {% endif %}</td>
                                <td class="text-center"> {{ record.poundage|default_if_none:0 }} </td>
                                <td class="text-center"> {{ record.integral|default_if_none:"" }} </td>
                                <td class="text-center">
                                    <a href="{% url 'record_edit' %}?id={{ record.id }}" class="btn btn-xs btn-info">编辑</a>
                                    <a value="{% url 'record_del' %}?id={{ record.id }}" class="btn btn-xs btn-danger del">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Showing {{ contacts.start_index }} to {{ contacts.end_index }} of {{ p.count }} entries
                            </div>
                        </div>
                        {% include 'paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block self_head_css_js %}
    {% load staticfiles %}
    <script src="{% static 'js/jquery.shiftcheckbox.js' %}"></script>
{#    <link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">#}
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
{% endblock %}
{% block self_footer_js %}
<script>
    $(document).ready(function(){
        $('.del').click(function(){
            var row = $(this).closest('tr');
            if (confirm("确定删除")) {
            $.get(
                    $(this).attr('value'),
                    {},
                    function(data){
{#                        row.remove();#}
                        alert(data);
                        location.reload();
                    }

            )}
        });
        $("tbody tr").shiftcheckbox({
            checkboxSelector: 'input:checkbox',
            selectAll: $('#select_all'),
            ignoreClick: 'a'
        });
        $('.shiftCheckbox').shiftcheckbox();
    });

    function change_info(){
        var args = $("#tran_form").serialize();
        window.location = "{% url 'record_list' %}?" + args
    }

    var config = {
                '.chosen-select'           : {search_contains:true},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                '.chosen-select-width'     : {width:"95%"}
            };

    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
{% endblock %}
