{% extends 'base.html' %}
{% block self_head_css_js %}
    <link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
{% endblock %}

{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <form id="groupForm" method="post" class="form-horizontal" action="">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success text-center">{{ msg }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="group_name" class="col-sm-2 control-label">部门<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="group_name" name="group_name" placeholder="User Group Name" type="text" class="form-control" value="{{ group_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="parent_id" class="col-sm-2 control-label">上级部门</label>
                                <div class="col-sm-8">
                                    <select id="parent_id" name="parent_id" class=" form-control m-b chosen-select">
                                        <option value=""></option>
                                        {% for group in group_all %}
                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dep_admin" class="col-sm-2 control-label">部门负责人<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select id="dep_admin" name="dep_admin" class=" form-control m-b chosen-select">
                                        {% for admin_user in user_all %}
                                            {% if forloop.first %}
                                                <option value="{{ admin_user.id }}" selected>{{ admin_user.name }}</option>
                                            {% else %}
                                                <option value="{{ admin_user.id }}">{{ admin_user.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

{#                            <div class="form-group">#}
{#                                <label for="dep_admin" class="col-sm-2 control-label">用户</label>#}
{#                                <div class="col-sm-8">#}
{#                                    <select name="dep_admin" id="dep_admin" data-placeholder="请选择负责人" class="chosen-select form-control m-b" multiple  tabindex="2">#}
{#                                        {% for admin_user in user_all %}#}
{#                                            <option value="{{ admin_user.id }}">{{ admin_user.name }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                    <span class="help-block m-b-none">用户和用户组必选一个</span>#}
{#                                </div>#}
{#                            </div>#}


                            <div class="hr-line-dashed"></div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-8">
                                    <input id="comment" name="comment" placeholder="Comment" type="text" class="form-control" value="{{ comment }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" ><a href="{% url 'user_group_list' %}">取消</a></button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block self_footer_js %}
<script>
$('#groupForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    fields: {
        "group_name": {
            rule: "required",
            tip: "用户输入组名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "group_type": {
            rule: "checked",
            tip: "选择组类型",
            ok: "",
            msg: {required: "至少选择一个组!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});


$(document).ready(function(){
    $("#submit_button").click(function(){
        $('#users_selected option').each(function(){
            $(this).prop('selected', true)
        })
    })
});

var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                '.chosen-select-width'     : {width:"95%"}
            };

for (var selector in config) {
    $(selector).chosen(config[selector]);
}

</script>
    <script src="/static/js/cropper/cropper.min.js"></script>
    <script src="/static/js/datapicker/bootstrap-datepicker.js"></script>
{% endblock %}
