{% extends 'base.html' %}
{% load mytags %}
{% block content %}
    {% include 'nav_cat_bar.html' %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div id="ibox-content" class="ibox-title">
                        <h5> 批量上传头像 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="alert alert-success alert-dismissable" style="width: 60%;">
                            <h3 style="color: #2d6987">规范说明：</h3>
                            <p>1: 文件格式为zip归档文件</p>
                            <p>2: 归档文件内图片格式"工号+gif|jpg|jpeg|GIF|JPG|JPEG|png"，例如：HLJF0001.jpeg</p>
                        </div>
                        {% if emg %}
                            <div class="alert alert-warning text-center">{{ emg }}</div>
                        {% endif %}
                        {% if smg %}
                            <div class="alert alert-success text-center">{{ smg }}</div>
                        {% endif %}
                        <form id="modelForm" method="post" class="form-horizontal" enctype="multipart/form-data"
                              action="">
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label for="portrait" class="col-sm-2 control-label">上传归档文件</label>
                                <div class="col-sm-8" style="width: auto;"><input id="portrait" name="portrait"
                                                                                  type="file" class="file"
                                                                                  data-show-upload="false"
                                                                                  data-show-preview="false"
                                                                                  data-allowed-file-extensions='["png", "jpg"]'>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-white" type="reset"> 重置</button>

                                    <input type="submit" class="btn btn-primary" id="submit_button" value="提交"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
