{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
{% endblock %}

{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="panel blank-panel">
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="{% url 'user_add' %}" class="text-center"><i class="fa fa-laptop"></i> 单个添加 </a></li>
{#                                    <li><a href="{% url 'user_add_batch' %}" class="text-center"><i class="fa fa-bar-chart-o"></i> 批量导入 </a></li>#}
                                </ul>
                            </div>
                            <div class="ibox-content">
                                <form method="post" id="userForm" class="form-horizontal" action="">
                                    {% if error %}
                                        <div class="alert alert-warning text-center">{{ error }}</div>
                                    {% endif %}
                                    {% if msg %}
                                        <div class="alert alert-success">{{ msg | safe }}</div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="username" class="col-sm-2 control-label">员工账号<span class="red-fonts">*</span></label>
                                        <div class="col-sm-8">
                                            <input id="username" name="username" placeholder="Username" type="text" class="form-control" {% if error %}value="{{ username }}" {% endif %}>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="first_name" class="col-sm-2 control-label">姓<span class="red-fonts">*</span></label>
                                        <div class="col-sm-8">
                                            <input id="first_name" name="first_name" placeholder="姓" type="text" class="form-control" {% if error %}value="{{ name }}" {% endif %} >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                         <label for="last_name" class="col-sm-2 control-label">名<span class="red-fonts">*</span></label>
                                        <div class="col-sm-8">
                                             <input id="last_name" name="last_name" placeholder="名" type="text" class="form-control" {% if error %}value="{{ name }}" {% endif %} >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="sex" class="col-sm-2 control-label">性别</label>
                                        <div class="col-sm-8">
                                            <select id="sex" name="sex" class="form-control m-b" >
                                                <option value="男" >男</option>
                                                <option value="女" >女</option>
                                            </select>
        {#                                    <input id="sex" name="sex" placeholder="Name" type="text" class="form-control"  >#}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" class="col-sm-2 control-label">手机</label>
                                        <div class="col-sm-8">
                                            <input id="mobile" name="mobile" placeholder="Name" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="wechat" class="col-sm-2 control-label">微信</label>
                                        <div class="col-sm-8">
                                            <input id="wechat" name="wechat" placeholder="Name" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="parent" class="col-sm-2 control-label">直属领导</label>
                                        <div class="col-sm-8">
                                            <select id="parent" name="parent" class="chosen-select form-control m-b" >
                                                <option value="" selected></option>
                                                {% for parent in user_all %}
                                                    <option value="{{ parent.id }}" >{{ parent.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="red-fonts">* 如果直属领导是该员工所在部门负责人，可不填 </span>
                                        </div>
                                    </div>

{#                                    <div class="form-group">#}
{#                                        <label for="guide" class="col-sm-2 control-label">领带人<span class="red-fonts">*</span></label>#}
{#                                        <div class="col-sm-8">#}
{#                                            <select id="guide" name="guide" class="chosen-select form-control m-b" >#}
{#                                                <option value="" selected></option>#}
{#                                                {% for guide in user_all %}#}
{#                                                    <option value="{{ guide.id }}" >{{ guide.name }}</option>#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </div>#}

                                    <div class="form-group">
                                        <label for="groups" class="col-sm-2 control-label">直属部门</label>
                                        <div class="col-sm-8">
                                            <select id="groups" name="groups" class="form-control m-b" multiple size="12">
        {#                                        <option value="" selected></option>#}
                                                {% for group in group_all %}
                                                    {% if forloop.first %}
                                                        <option value="{{ group.id }}" selected>{{ group.name }}</option>
                                                    {% else %}
                                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="job" class="col-sm-2 control-label">职位</label>
                                        <div class="col-sm-8">
                                            <input id="job" name="job" type="text" class="form-control" >
                                        </div>
                                    </div>
{#                                    <div class="form-group">#}
{#                                        <label for="position" class="col-sm-2 control-label">归属<span class="red-fonts">*</span></label>#}
{#                                        <div class="col-sm-8">#}
{#                                            <select id="position" name="position" class="chosen-select form-control m-b" >#}
{#                                                {% for position in position_all %}#}
{#                                                    {% if forloop.first %}#}
{#                                                        <option value="{{ position.id }}" selected>{{ position.name }}</option>#}
{#                                                    {% else %}#}
{#                                                        <option value="{{ position.id }}">{{ position.name }}</option>#}
{#                                                    {% endif %}#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div id="version_add" class="hide">#}
{#                                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#positionModal">新增</a>#}
{#                                    </div>#}

{#                                    <div class="form-group">#}
{#                                        <label for="position" class="col-sm-2 control-label">用工方式<span class="red-fonts">*</span></label>#}
{#                                        <div class="col-sm-8">#}
{#                                            <select id="empway" name="empway" class="chosen-select form-control m-b" >#}
{#                                                {% for empway in empway_all %}#}
{#                                                    {% if forloop.first %}#}
{#                                                        <option value="{{ empway.id }}" selected>{{ empway.name }}</option>#}
{#                                                    {% else %}#}
{#                                                        <option value="{{ empway.id }}">{{ empway.name }}</option>#}
{#                                                    {% endif %}#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    {% ifequal session_role_id 2 %}#}
{#                                    {% endifequal %}#}
                                    <div class="hr-line-dashed"></div>
{#                                    <div class="form-group">#}
{#                                        <label for="email" class="col-sm-2 control-label">Email<span class="red-fonts">*</span></label>#}
{#                                        <div class="col-sm-8">#}
{#                                            <input readonly id="email" name="email" type="email" placeholder="@huli.com" class="form-control">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="hr-line-dashed"></div>#}
{#                                    <div class="form-group ">#}
{#                                        <label for="entry_time" class="col-sm-2 control-label">入职时间<span class="red-fonts">*</span></label>#}
{#                                        <div class="col-sm-8">#}
{#                                            <input id="entry_time" name="entry_time" type="date">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="hr-line-dashed"></div>#}
{#                                    <div class="form-group"><label class="col-sm-2 control-label">其它</label>#}
{#                                        <div class="col-sm-2">#}
{#                                            <div class="checkbox i-checks">#}
{#                                                <label onclick="return false">#}
{#                                                    <input type="checkbox" value="0" name="extra" checked>未激活#}
{#                                                </label>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="hr-line-dashed"></div>#}
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-white" ><a href="{% url 'user_list' %}">取消</a></button>
                                            <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block self_footer_js %}

{#<div class="modal fade" id="positionModal" tabindex="-1" role="dialog" aria-labelledby="positionLabel">#}
{#    <div class="modal-dialog" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                <h4 class="modal-title" id="positionLabel">新增归属地</h4>#}
{#            </div>#}
{#            <div class="modal-body" style="height: 150px">#}
{#                <form method="post" class="form-horizontal" >#}
{#                    <div>#}
{#                        <div class="form-group">#}
{#                            <label class="control-label col-sm-2 col-lg-2 " for="position_add_id" style="padding-top: 6px">归属地</label>#}
{#                            <div class=" col-sm-8 col-lg-8 ">#}
{#                                <input class=" form-control" id="position_add_id" type="text" />#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <div class="col-sm-4 col-sm-offset-5" style="margin-top: 10px">#}
{#                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>#}
{#                                <button type="button" class="btn btn-primary" id="position_dict_add" >提交</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<script>
{#$(document).ready(function(){#}
{#    $('#username').blur(function(){#}
{#        user_name = $('#username')[0].value;#}
{#        $('#email').attr("value", user_name + "@huli.com");#}
{#        $('#email').attr("disabled","false");#}
{#    });#}
{#    var ascription = $('#version_add').html();#}
{#        $('#position').parent().parent().append(ascription);#}
{##}

{#    $('#position_dict_add').click(function () {#}
{#        var v = $("#position_add_id").val();#}
{#        if(v==''){#}
{#            alert("请输入有效信息！")#}
{#        }else {#}
{#            $.post("{% url 'asset_type_add' %}",#}
{#                    {val: v,#}
{#                     func_name: "position_func"},#}
{#                    function (data) {#}
{#                        var r=JSON.parse(data);#}
{#                            alert(r.smg);#}
{#                            var html_add = '<option value="' + r.id +'">' + v + '</option>';#}
{#                            $('#position').append(html_add);#}
{#                            $("#position").trigger("chosen:updated");#}
{#                            $("#positionModal").modal("hide");#}
{#                    }#}
{#            )#}
{#        }#}
{#    });#}


$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_name: [/(?!^root$)^[\w.]{2,20}$/i, '大小写字母数字和下划线小数点,2-20位,并且非root'],
        check_username: [/^[\w.]{3,20}$/, '大小写字母数字和下划线小数点'],
        type_m: function(element){
                    return  $("#M").is(":checked");
            }
    },
    fields: {
        "username": {
            rule: "required;check_username;check_name",
            tip: "输入员工账号",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "first_name": {
            rule: "required",
            tip: "姓",
            ok: "",
            msg: {required: "必须填写"}
        },
        "last_name": {
            rule: "required",
            tip: "名",
            ok: "",
            msg: {required: "必须填写"}
        },
{#        "entry_time": {#}
{#            rule: "required",#}
{#            tip: "入职时间",#}
{#            ok: "",#}
{#            msg: {required: "必须填写"}#}
{#        },#}
{#        "job": {#}
{#            rule: "required",#}
{#            tip: "职位",#}
{#            ok: "",#}
{#            msg: {required: "必须填写"}#}
{#        },#}
{#        "guide": {#}
{#            rule: "required",#}
{#            tip: "领带人",#}
{#            ok: "",#}
{#            msg: {required: "必须填写"}#}
{#        },#}
{#        "empway_id": {#}
{#            rule: "required",#}
{#            tip: "用工方式",#}
{#            ok: "",#}
{#            msg: {required: "必须填写"}#}
{#        }#}
    },
    valid: function(form) {
        form.submit();
    }
});

{#$(function(){#}
{##}
{#    $('.chosen-select').chosen();#}
{##}
{#{);#}

var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                '.chosen-select-width'     : {width:"95%"}
            };

for (var selector in config) {
    $(selector).chosen(config[selector]);
}



</script>

{% endblock %}
